.container {
  display: flex;
  flex-direction: row;
  background-color: #faeee7;
  justify-content: space-around;
  color: #33272a;
  font-family: serif;
  padding-top: 10px;
}
.title {
  font-size: 70px;
  /* margin-left: px; */
  /* margin-right: 350px; */
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  /* font-weight: 300; */
}

.imgcard {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.cardWrapper {
  align-items: center;
  border-style: none;
  margin: 30px;
  text-align: center;
  color: #594a4e;
  text-decoration: none;
}
.cardWrapper:hover {
  color: #ff8ba7;
}
.btnModal {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.mainContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.cartWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding: 20px;
  box-shadow: 3px 1px 3px 1px #e7e7e7;
  border-radius: 7px;
}

.image {
  width: 75px;
  height: 75px;
  background-color: rgb(253, 248, 237);
  margin-right: 30px;
}

.quantity {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
}

.description {
  display: flex;
  flex-direction: row;
}
